/*
* {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
  }
  */

/* General */

body {
    font-family:verdana;
    margin: 0px;
    width: 100%;
    height:100%;
    padding-bottom: 10vw;
    -webkit-transform: translateZ(0); 
    -moz-transform: translateZ(0);
    transform: translateZ(0); 
}

.bluegradient {
    background-color: #36096d;
    background-image: linear-gradient(315deg, #36096d 0%, #37d5d6 74%);
    color: white;
    padding: 2vw;
}

h1 {
  font-size: 2rem;
}

h1, h2, h3 {
    text-align: center; 
    margin: 0px;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  text-align: left;
}

.round {
    border-radius: 50%;
    height: 20vw;
    max-height: 150px;
}

.white {
    background-color: white; 
    padding: 2vw; 
}

/* CSS grid */ 

.grid-container {
    display: grid;
  }

.grid-container--1 {
  grid-template-columns: auto;
}

.grid-container--2 {
  grid-template-columns: auto auto;
  grid-column-gap: 4vw;
}

.grid-container--3 {
  grid-template-columns: auto auto auto;
  grid-column-gap : 5px;
}

.grid-container--4 {
  grid-template-columns: auto auto auto auto;
}

.grid-container--5 {
  grid-template-columns: auto auto auto auto auto;
}

.grid-container--gaps {
  grid-row-gap: 2vw;
  grid-column-gap: 4vw;
  grid-auto-rows: 1fr
}

.grid-container--center{
  padding-left: 10%;
  padding-right: 10%;
  grid-column-gap: 10%;
}
  
  .grid-container-3 {
    display: grid;
    grid-template-columns: auto auto auto;
  }
  
  .grid-container-2 {
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 30px;
    grid-column-gap: 10px;
    grid-auto-rows: 1fr
  }
  
  .grid-container-4 {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-row-gap: 30px;
    grid-column-gap: 2px;
    grid-auto-rows: 1fr;
  }
  
  .grid-item {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .grid-item--center {
    align-items: center;
  }

  .grid-item--span-all {
    grid-column: 1/-1;
  }

  .grid-item--3-rows{
    grid-row-start: 1;
    grid-row-end: 3;
  }


  .left {
      margin-left: 3vw;
  }

  .right {
    margin-right: 3vw;
}

.image {
    /*max-width:36vw;*/
}

.hidden {
  display: none;
}

.button {
  color: dodgerblue !important;
  text-decoration: none;
}

.floatleft{
  float: left;
}

.floatright {
  float:right;
}

.button:hover {
  color: darkblue;
}

.center {
  margin-left: 40vw;
}

.ul {
  list-style-type: none;
}

/* For Bootstrap flip cards */



/*
.card-flip:hover .card-front {
  transform: rotateY(-180deg);
}
  
.card-flip:hover .card-back {
  transform: rotateY(0deg);
}
*/

.flip-card-front img {
  max-width: 200px;
  max-height: 167px;
}

.card-grid-container--2 {
  grid-template-columns: auto auto;
  display: grid;
  /*grid-auto-rows: 1fr; equal height rows*/
  column-gap: 2rem;
  row-gap: 2rem;
}

.card-grid-container--4 {
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 2rem;
  row-gap: 2rem;
}

.card {
  height: 100%;
  width: 100%;
}

.card img {
  width: 100%;
}


.card-body {
  color: black;
}

.flip-card {
  background-color: transparent;/*
  width: 300px;
  height: 200px;*/
  height: calc(300px + 2vw);
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  -moz-backface-visibility: hidden; /* Mozilla */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
}

/* Style the back side */
.flip-card-back {
  transform: rotateY(180deg);
}

/* For Bootstrap modal */

.modal-body{
  position: relative;
  padding-left: 2%;
  padding-right: 2%;
}



.modal-body, .modal-header{
  color: black;
}

.modal-header {
  text-align: center;
}

.modal-dialog {
  width: auto;
  max-width: 1000px;
}

.select2-container {
  position: absolute;
  width: auto;
  max-width: 90%;
}

/* For forms */

form {
  padding: 2vw;
}

input{
  margin-top: 6px;
  padding: 4px;
}

input[type="checkbox"] {
  width: 13px;
  height: 13px;
  padding: 0;
  margin:0;
  vertical-align: bottom;
  position: relative;
  top: -1px;
  *overflow: hidden;
}

.checkbox-label{ 
  /* Make checkbox same vertical position as label */
  display: block;
  padding-left: 15px;
  text-indent: -15px;
}

.js-example-basic-single {
  /*font-size: 8px; /* Doesn't work */
}


/*For charts*/

/* For navbar */
.navbar-active{
  color: rgba(255,255,255,0.5) !important;
}

.nav-link:not(.active){
  color:white !important;
}

.nav-link:hover{
  background-color: dodgerblue!important;
}

.dropdown-menu{
  background-color: #343a40!important;
  color: white;
}

.dropdown-item{
  background-color: #343a40!important;
}

.dropdown-item:not(.active){
  color: white !important;
}

.dropdown-item:hover{
  background-color: dodgerblue!important;
}

/* For login */

.google-sign-in {
  cursor: pointer;
  text-align: center;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
  border: none;
  padding: 4px 8px 4px 8px;
}

.google-sign-in:hover{
  box-shadow: 0 0 3px 3px rgba(66,133,244,.3);
}

.fa-google{
  float:left;
}

/* For bullet point lists */
.bullet{
  list-style-type: circle;
  text-align: left;
}

/* For Bootstrap carousel */
.carousel {
  margin: 1.5rem;
}

.carousel-inner-lg {
  height: 1000px !important;
}

.carousel-inner--600 {
  min-height: 600px;
  text-align: left;
  color:black; 
}

.carousel-caption--white-bg{
  color: gray;
  font-size: 14px;
  margin-top: 10px;
}

.carousel-item img{
  opacity: 0.7;
  height: 100%;
  width: 100%;
}

.carousel-control-next--white-bg,
.carousel-control-prev--white-bg {
    filter: invert(100%);
}

.carousel-control-prev--white-bg {
  margin-left: -50px;
}

.carousel-control-next--white-bg {
  margin-right: -50px;
}

.carousel-indicators--white-bg {
    filter: invert(100%);
}

h5 {
  text-align: center;
}



/* Media Queries */

@media screen and (min-width: 1007px){
  body, .btn, h5, .h5, .navbar-brand {
    font-size: calc(16px + 0.5vw);
  }

  .carousel-inner--400 {
    min-height: calc(400px + 0.5vw);
  }

  .carousel-inner--600 {
    min-height: calc(600px + 0.5vw);
  }

}

@media screen and (max-width: 1007px) and (min-width: 641px){
  .md-1-col{
    grid-template-columns: auto;
  }

  body, .btn, h5, .h5, .navbar-brand, select:focus {
    font-size: calc(16px + 1vw);
  }

  .carousel-inner--400 {
    min-height: calc(400px + 1vw);
  }

  .carousel-inner--600 {
    min-height: calc(600px + 1vw);
  }

  .select2-container {
    position: absolute;
    width: auto;
    max-width: 60%;
  }


}

@media screen and (max-width: 640px) {
.sd-1-col{
  grid-template-columns: auto;
}

.sd-2-col{
  grid-template-columns: auto auto;
}

body, .btn, h5, .h5{
  font-size: calc(16px + 1vw);
}

nav a,  .navbar-brand{
  font-size: calc(8px + 1vw);
}



.carousel-inner--400 {
  min-height: calc(700px);
}

.carousel-inner--600 {
  min-height: calc(400px + 1vw);
}

.select2-container {
  position: absolute;
  width: auto;
  max-width: 90vw;
}

}