/* Typeography */
h1, h2, .card {
  text-align: center
}
table {
  width: 80% !important;
  margin-left: auto;
  margin-right: auto;
}
h1 {
  margin-top: 2rem;
}

h2 {
  margin-bottom: 2rem;
}

h3 {
  margin: 1rem 0 1rem 0;
  font-size: 1rem;
  font-weight: bold;

}

p {
  margin-bottom: 1rem;
}


svg {
  fill: white;
  margin-right: 1.5rem;
  height: 1.5rem;
  width: 1.5rem;
}

nav {
  font-size: 1.25rem;
}


/* Sections */

.bluebg, .whitebg {
  padding-top:70px;
  padding-bottom:70px
}
.bluebg {
  color: white;
  background-image: linear-gradient(315deg, #36096d 0%, #37d5d6 74%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* CSS Grid */
.row {
  margin-right: 0; /* Stops overflow */
  margin-left: 0;
}

.col button {
  margin-bottom: 2rem;
}


/* Card */

.card {
  color: black;
  text-align: justify;
}

/* Ensure video not too big */
video, img{
  max-height: 50vh;
}

video {
  width: 100%;
}

/* Center align images */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card-header {
  text-align: center;
  font-weight: bold;
}


/* Hero Section */

.round {
  border-radius: 50%;
  height: calc(150px + 5vw);
}

.container p {
  font-size: 1.5rem;
}


/* Skill section */
.skills {
  text-align: center;
}

.skill {
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 12px 12px 12px 12px;
  -moz-border-radius: 12px 12px 12px 12px;
  -webkit-border-radius: 12px 12px 12px 12px;
  border: 0px solid #000000;
  background-color: rgba(230,230,230,0.2);

}

.skill:hover {
  background-color: rgba(89, 89, 89, 0.2);
  color: white;

}

/* Responsive Styling */
@media screen and (min-width: 768px) {
  .contact {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .contact .row {
    margin-top:50px;
  }
}

  
/* md breakpoint bootstrap */
@media screen and (max-width: 768px) {
    table {
      width: 100% !important;
    }
    
    video {
      width: 90%;
      margin-left:5%;
    }

    .round {
      height: calc(150px + 10vw);
    }

    .col button {
      min-width: 50vw;
    }


    
}