html{
    text-align: justify;
}

h1, h2, .card {
    text-align: center
}

.list-group-item {
  border: none;
}

.row {
  margin-right: none; /* Stops overflow */
}



/* Ensure video not too big */
video, img{
    max-height: 50vh;
}

/* Center align images */
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* Responsive video */
@media screen and (min-width: 640px) {
    video {
      width: 50%;
      margin-left:25%;
    }
  }
  
  @media screen and (max-width: 640px) {
      video {
        width: 90%;
        margin-left:5%;
      }
  }